:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  font-synthesis: none;
}

body {
  margin: 15px;
  background: #272a36;
  font-size: 16px;
  font-family: "Nunito", serif;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 4rem;
  margin-top: 100px;
  font-weight: 500;
}

.github-button {
  margin: 0 auto;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-weight: 600;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.4s;
}
.github-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.github-button svg {
  margin-right: 0.5em;
}
